.custom-ex1 {
  position: absolute;
  left: -5000 px;
}

/* .confirm {
  padding-top: 100px;
  padding-bottom: 100px;
} */

.f-custom{
  margin-top: 100px;
}
.b-custom{
  margin-bottom: 100px;
}

.set-image {
  object-fit: contain;
  padding-top: 0;
  height: 500px;
}

.first-char{
  text-transform: capitalize;
}

.word-spacing {
  word-spacing: 10px;
}

.has-text-white {
  color: aliceblue;
  font-weight: bold;
}

.products-height {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-cursor {
  cursor: pointer;
}

.color-grey {
  color: grey;
}

.logo-font {
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .some-bg {
  background-color: aqua;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
